body{
  margin:0;
  font-family:system-ui;
  background:#f1f5f9;
}

.container{
  max-width:420px;
  margin:auto;
  padding:20px;
}

.center{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

input{
  padding:14px;
  margin-bottom:14px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}

button{
  padding:14px;
  background:#2563eb;
  border:none;
  color:white;
  border-radius:10px;
  font-size:16px;
  font-weight:600;
}

.error{
  color:red;
  font-size:14px;
}
